<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>adm_cs_in</servlet-name>
        <servlet-class>adm_cs_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>te_rg_in</servlet-name>
        <servlet-class>te_rg_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>te_qs_in</servlet-name>
        <servlet-class>te_qs_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>te_log_in</servlet-name>
        <servlet-class>te_log_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>te_ch_ps_in</servlet-name>
        <servlet-class>te_ch_ps_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adm_c</servlet-name>
        <servlet-class>adm_c</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adm_cs_del_in</servlet-name>
        <servlet-class>adm_cs_del_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adm_log_in</servlet-name>
        <servlet-class>adm_log_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adm_ch_ps_in</servlet-name>
        <servlet-class>adm_ch_ps_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adm_cs_md_in</servlet-name>
        <servlet-class>adm_cs_md_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>te_md_in</servlet-name>
        <servlet-class>te_md_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adm_te_del_in</servlet-name>
        <servlet-class>adm_te_del_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>st_reg_in</servlet-name>
        <servlet-class>st_reg_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>st_log_in</servlet-name>
        <servlet-class>st_log_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adm_st_del_in</servlet-name>
        <servlet-class>adm_st_del_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exam_pg</servlet-name>
        <servlet-class>exam_pg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex_pg2</servlet-name>
        <servlet-class>ex_pg2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rslt</servlet-name>
        <servlet-class>rslt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex_q_val</servlet-name>
        <servlet-class>ex_q_val</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adm_te_accept_in</servlet-name>
        <servlet-class>adm_te_accept_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>te_no_qs_xm_in</servlet-name>
        <servlet-class>te_no_qs_xm_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>te_md_no_qs_xm_in</servlet-name>
        <servlet-class>te_md_no_qs_xm_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg_newsession</servlet-name>
        <servlet-class>mypack.reg_newsession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_result</servlet-name>
        <servlet-class>mypack.get_result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg_course_subs</servlet-name>
        <servlet-class>mypack.reg_course_subs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verify_account</servlet-name>
        <servlet-class>mypack.verify_account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_stud_class</servlet-name>
        <servlet-class>mypack.add_stud_class</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_studs_class</servlet-name>
        <servlet-class>mypack.view_studs_class</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_student</servlet-name>
        <servlet-class>mypack.delete_student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_stud_persinfo</servlet-name>
        <servlet-class>mypack.add_stud_persinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_teacher</servlet-name>
        <servlet-class>mypack.add_teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_teacher</servlet-name>
        <servlet-class>mypack.delete_teacher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reg_newsession</servlet-name>
        <url-pattern>/reg_newsession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_result</servlet-name>
        <url-pattern>/get_result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reg_course_subs</servlet-name>
        <url-pattern>/reg_course_subs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adm_cs_in</servlet-name>
        <url-pattern>/adm_cs_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>te_rg_in</servlet-name>
        <url-pattern>/te_rg_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>te_qs_in</servlet-name>
        <url-pattern>/te_qs_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>te_log_in</servlet-name>
        <url-pattern>/te_log_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>te_ch_ps_in</servlet-name>
        <url-pattern>/te_ch_ps_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adm_c</servlet-name>
        <url-pattern>/adm_c</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adm_cs_del_in</servlet-name>
        <url-pattern>/adm_cs_del_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adm_log_in</servlet-name>
        <url-pattern>/adm_log_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adm_ch_ps_in</servlet-name>
        <url-pattern>/adm_ch_ps_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adm_cs_md_in</servlet-name>
        <url-pattern>/adm_cs_md_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>te_md_in</servlet-name>
        <url-pattern>/te_md_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adm_te_del_in</servlet-name>
        <url-pattern>/adm_te_del_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>st_reg_in</servlet-name>
        <url-pattern>/st_reg_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>st_log_in</servlet-name>
        <url-pattern>/st_log_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adm_st_del_in</servlet-name>
        <url-pattern>/adm_st_del_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exam_pg</servlet-name>
        <url-pattern>/exam_pg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex_pg2</servlet-name>
        <url-pattern>/ex_pg2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rslt</servlet-name>
        <url-pattern>/rslt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex_q_val</servlet-name>
        <url-pattern>/ex_q_val</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adm_te_accept_in</servlet-name>
        <url-pattern>/adm_te_accept_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>te_no_qs_xm_in</servlet-name>
        <url-pattern>/te_no_qs_xm_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>te_md_no_qs_xm_in</servlet-name>
        <url-pattern>/te_md_no_qs_xm_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verify_account</servlet-name>
        <url-pattern>/verify_account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_stud_class</servlet-name>
        <url-pattern>/add_stud_class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_studs_class</servlet-name>
        <url-pattern>/view_studs_class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_student</servlet-name>
        <url-pattern>/delete_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_stud_persinfo</servlet-name>
        <url-pattern>/add_stud_persinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_teacher</servlet-name>
        <url-pattern>/add_teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_teacher</servlet-name>
        <url-pattern>/delete_teacher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
